ARCH_CFLAGS = -mcmodel=kernel -mno-red-zone
ARCH_LDFLAGS = -z max-page-size=0x1000

ARCH_OBJS =\
	  $(ARCHDIR)/start.o \
	  $(ARCHDIR)/arch-main.o \
	  $(ARCHDIR)/memory-manager.o

$(ARCHDIR)/memory-manager.o: $(ARCHDIR)/memory-manager.c $(ARCHDIR)/memory-manager.h include/SampoOS/Kernel/memman.h

ARCH_NASMFLAGS = -felf64 -g -F dwarf
